/* CSS Document */


body {
    background-color: #CCC;
    margin: 0 auto;
    direction: ltr;
    text-align: right;
}

#header {
    background: white;
    height: 80px;
    width: 1250px;
    margin: 0px 7px 0px -7px;
    margin: 0 auto;
    /*  display: inline-flex; */

}

#a3,
#a2,
#a1 {

    text-align: center;
}

#a1 {
    width: 20%;
    /*  align-self: center; */
    float: right;
}

#a2 {
    width: 60%;
    padding-top: 5px;
    float: right;
}

#a3 {
    padding-top: 0.7cm;
    float: left;
    width: 20%;

}

#nav {
    background: #6AF5F8;
    width: 1250px;
    height: 30px;
    text-align: center;
    text-decoration-color: #070707;
    border-bottom: 2px solid #F4F1F1;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

.clear-fix {
    clear: both;
}

a {
    text-decoration: none;
}

#nav ul {
    list-style: none;
}

#nav li {
    position: relative;
}

#nav>ul>li {
    float: right;
}

#nav>ul>li>a {
    display: inline-block;
    color: #06094E;
    padding: 0 10px;
    line-height: 30px;
}

#nav>ul>li:hover>a {
    background-color: orange;
    color: black;
}

#nav .sub-menu {
    display: none;
    position: absolute;
}

#nav .sub-menu>li>a {
    display: block;
    width: 120px;
    background-color: #6AF5F8;
    color: #020648;
    padding: 5px 10px;


}

#nav .sub-menu>li:hover>a {
    background-color: orange;
    z-index: 1000;

}

#nav li:hover>.sub-menu {
    display: block;

    z-index: 1000;
}

#body {
    background-color: #CCC;
    width: 1250px;
    margin: 0px auto;
}

#sidebar_right {
    background: #DCD8D8;
    float: right;
    width: 250px;
    margin: 0px 5px 0px 0px;
    border-bottom: solid 5px #FFFD00;
    border-bottom-left-radius: 2px;

}

#sidebar_left {
    background: #DCD8D8;
    float: right;
    width: 200px;
    border-bottom: solid 5px #FFFD00;
    border-bottom-left-radius: 2px;
}

#content {
    background: #777;
    float: right;
    width: 793px;
    height: 900px;


}

#content-pro {
    float: right;
    width: 790px;
    height: 300px;

    background-color: #CCC;
}

#footer {
    background: #ABABAB;
    height: 100px;
    width: 1250px;
    margin: 0 auto;
    border: none;
}

.clear {
    clear: both;
    float: none;
}

.container {
    float: right;
    margin: 0 auto;
    overflow: hidden;
    width: 790px;
}


#content-slider {
    width: 100%;
    height: 300px;
    margin: 0px auto 0;
}

#slider {
    background: #000;
    border: 2px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    height: 321px;
    width: 790px;
    margin: 0px auto 0;
    overflow: visible;
    position: relative;

}

#mask {
    overflow: visible;
    height: 320px;
}

#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#slider li {
    width: 680px;
    height: 320px;
    position: absolute;
    top: -325px;
    list-style: none;
}

#slider li.firstanimation {
    -moz-animation: cycle 25s linear infinite;
    -webkit-animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
    -moz-animation: cycletwo 25s linear infinite;
    -webkit-animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation {
    -moz-animation: cyclethree 25s linear infinite;
    -webkit-animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation {
    -moz-animation: cyclefour 25s linear infinite;
    -webkit-animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation {
    -moz-animation: cyclefive 25s linear infinite;
    -webkit-animation: cyclefive 25s linear infinite;
}

#slider li.sixthanimation {
    -moz-animation: cyclefive 25s linear infinite;
    -webkit-animation: cyclefive 25s linear infinite;
}

#slider li.seventhanimation {
    -moz-animation: cyclefive 25s linear infinite;
    -webkit-animation: cyclefive 25s linear infinite;
}

#slider .tooltip {
    background: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 60px;
    position: relative;
    bottom: 85px;
    left: 760px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

#slider .tooltip h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 0 0 190px;
    font-family: Tahoma, Geneva, sans-serif;
}

#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip,
#slider li#fifth:hover .tooltip {
    left: 380px;
}

#slider:hover li,
#slider:hover .progress-bar {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.progress-bar {
    position: relative;
    top: -5px;
    width: 680px;
    height: 5px;
    background: #000;
    -moz-animation: fullexpand 25s ease-out infinite;
    -webkit-animation: fullexpand 25s ease-out infinite;
}

.top-ten-offer {
    padding: 40px 10px 15px 10px;
    position: relative;
    background-color: #ddd;
    border-bottom: solid 5px #FFFD00;
    border-bottom-left-radius: 2px;
    list-style: none;
}

.text-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFD00;
    padding: 3px 15px 6px 5px;
    border-bottom-right-radius: 10px;
    direction: rtl;
    color: #000543;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .3);
    font-size: 13px;
}

.itpro-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    margin: 1cm;
}

.item-text {
    font-size: 13px;
    font-weight: normal;
    color: #666;
    display: block;
    overflow: hidden;
    margin-top: 5px;
}

.itpro-text {
    font-size: 18px;
    font-weight: normal;
    color: black;
    display: block;
    overflow: hidden;
    margin-top: 5px;
}

.item-container {
    border-bottom: 2px solid #999;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.item {
    padding: 5px;
    direction: rtl;
    display: block;
    overflow: hidden;
}

.imgItem {
    border: none;
    font-size: 10px;
    font-weight: bold;
    color: #777;
    direction: rtl;
    width: 50px;
    height: 50px;
}

.item-img-cont {
    border: thick;
    direction: rtl;
    width: 950px;
    right: 0;
}

.img-it {
    border: none;
    direction: rtl;
    right: 0;
}

.item-img-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    text-align: left;
}

.itpro-img-cont {
    display: inline-block;
    vertical-align: top;
    margin: 2px 10px 0 20px;
    widt: 300px;
    heigh: 300px;
    text-align: right;
    float: right;
}

.item-info {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 148px;
    direction: rtl;
    text-align: right;
}

.itpro-info {
    display: inline;
    vertical-align: top;
    width: 110px;
    direction: rtl;
    text-align: right;

}

.text-title-l {
    position: none;
    top: 0;
    right: 0;
    background-color: #FFFD00;
    padding: 3px 5px 6px 15px;
    border-bottom-left-radius: 10px;
    direction: rtl;
    color: #000543;
    box-shadow: -1px 0 2px rgba(0, 0, 0, .3);
    font-size: 13px;
    margin-left: 3.5cm;
}



.td-align {
    text-align: center;
    font-size: 16px;
    height: 25px;
    width: 2cm;
}

#table-reg {
    direction: rtl;
    border: thin;
    font-family: "B Nazanin";
    font-size: 20px;
    text-align: center;
    width: 600px
}

.td-sub {
    height: 35px;
    font-size: 20px;
    text-align: left;
    width: 200px;
}

.div {
    border: thin solid;
}

.sr2 {
    width: 2cm;
    height: 2cm;
    margin-left: 4.5cm;
}

.sr1 {
    height: 4.04cm;
}

.sl1 {
    text-align: center;

}

td {
    text-align: right;
    font-size: 16px;
}

.ttex {
    display: inline;
}

.tab {
    text-align: center;
}

.hh {
    border: thin solid #FFF800;
}

#container {
    float: right;
}

h3 {
    text-align: right;
    line-height: 30px;
    padding: 30px;
    z-index: 1000;
}

#content {
    background: #ccc;
}